:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  background: var(--greyLight-1);
}
@media screen and (min-width: 900px) {
  html {
    font-size: 75%;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: var(--greyLight-1);
  padding: 5rem;
}

.components {
  width: 75rem;
  height: 60rem;
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  RADIO  */
.radio {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 100px;

}
.radio input {
  display: none;
}
.radio__1 input:checked ~ label, .radio__2 input:checked ~ label {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.radio__1 input:checked ~ label::after, .radio__2 input:checked ~ label::after {
  background: var(--primary);
}
.radio__1 label, .radio__2 label {
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}
.radio__1 label:hover::after, .radio__2 label:hover::after {
  background: var(--primary);
}
.radio__1 label::after, .radio__2 label::after {
  content: "";
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  background: var(--greyDark);
  border-radius: 50%;
  transition: 0.3s ease;
}

/*  BUTTONS  */
.btn-group {
  margin: auto;
  text-align: center;
  display: block;
  z-index: 1;
}
.btn {
  margin: auto;
  width: 6.5rem;
  height: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  cursor: pointer;
  transition: 0.3s ease;
}
.btn__primary {
  margin: 0.5rem;
  margin-top: 0rem;
  z-index: 1;
  text-align: center;
  line-height: 1.5rem;
  border: none;
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyLight-1);
}

.btn__primary:hover {
  color: var(--white);
}
.btn__primary:active {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
}
.btn__primary2 {
  text-align: center;
  line-height: 1.5625rem;
  position: absolute;
  top: 36.5rem;
  left: 20rem;
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyLight-1);
}
.btn__primary2:hover {
  color: var(--white);
}
.btn__primary2:active {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
}
.btn__secondary {
  color: var(--greyDark);
  background: var(--greyLight-1);
  margin: 0.5rem;
  margin-bottom: 0rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border:none;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}
.btn__secondary:hover {
  color: var(--primary);
}
.btn__secondary:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.btn p {
  font-size: 1rem;
}




.form {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 100px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15rem;
  left: auto;
  width: 50%;
  height: 75%;
  max-width: 50rem;
  max-height: 44rem;
  margin-bottom: 0.5rem;
}

.form__input {
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  padding: 1.4rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: #4b4b4b;
}
.stored_info {
  resize: none;
  width: 100%;
  height: 20rem;
  border: none;
  margin-top: 2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  padding: 1.4rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: #4b4b4b;
}

.form__input::placeholder {
  color: var(--greyLight-3);
}

.form__input:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}


/*  FORM  */
.save_button {
  margin-top: auto;
  background: none;
  font-family: inherit;
  color: var(--greyDark);
  z-index: 1;
  
}
.form__input,
.save_button {
  z-index: 1;
}
.send-button {
  display: none;
  background: none;
  font-family: inherit;
  color: var(--greyDark);
}

 

/*  SEGMENTED-CONTROL */
.segmented-control {
  display: flex;
  align-items: center;
  position: relative;
  top: -47%;
  width: 13.8rem;
  height: 4rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 1rem;
}
.segmented-control input {
  display: none;
}
.segmented-control > input:checked + label {
  transition: all 0.5s ease;
  color: var(--primary);
}
.segmented-control__1, .segmented-control__2, .segmented-control__3 {
  width: 6.8rem;
  height: 3.6rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--greyDark);
  transition: all 0.5s ease;
}
.segmented-control__1:hover, .segmented-control__2:hover, .segmented-control__3:hover {
  color: var(--primary);
}
.segmented-control__color {
  position: absolute;
  height: 3.4rem;
  width: 6.2rem;
  margin-left: 0.3rem;
  border-radius: 0.8rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  pointer-events: none;
}

#tab-1:checked ~ .segmented-control__color {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-2:checked ~ .segmented-control__color {
  transform: translateX(6.8rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-3:checked ~ .segmented-control__color {
  transform: translateX(13.6rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}





#main_title {
  position: absolute;
  top: -230px;
  left: -15px;
  font-size: 1.5rem;
  margin-top: 0px;
  margin-left: 0px;
  font-family: inherit;
  color: var(--primary);
}

/* CHat box */
#chat-container {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  padding-top: 0.3rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  padding-bottom: 0rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: var(--greyDark);
}

#chat-messages {
  height: 37rem;
  overflow-y: scroll;
  margin-bottom: 2rem;
}

.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.message-container.sent {
  align-self: flex-end;
}

.message-container.received {
  align-self: flex-start;
}

.message {
  padding: 1.5rem;
  border-radius: 1rem;
  max-width: 85%;
  /* margin-top: 0.5rem; */
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.sent .message {
  background-color: var(--primary);
  color: white;
}

#chat-form {
  display: flex;
  /* margin-top: auto; */
}

#message-input {
  position: absolute;
  align-self: center;
  flex: 1;
  bottom: 0.6rem;
  padding: 12px;
  width: 93%;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.1rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: #3b3b3c;
}
#message-input::placeholder {
  color: var(--greyLight-3);
}
#message-input:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}
#message-input:focus + .search__icon {
  color: var(--primary);
}


_____________

.message-container {
  resize: none;
  width: 47rem;
  height: 35rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-top: 1.4rem;
  padding-left: 1.4rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: var(--greyDark);
  margin-top: 1rem;
}

.sent .message {
  font-family: inherit;
  background-color: var(--primary);
  border-radius: 18px 18px 0 18px;
  padding: 10px;
  max-width: 300px;
  margin-right: 10px;
  margin-top: 1rem;
  align-self: flex-end;
}

.received .message {
  font-family: inherit;
  color: #3b3b3c;
  background-color: #f2f5fe;
  border-radius: 18px 18px 18px 0;
  padding: 10px;
  max-width: 300px;
  margin-left: 10px;
  align-self: flex-start;
}

.message:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px 8px 0 0;
  border-color: transparent;
  right: -7px;
  bottom: 7px;
}

.received .message:before {
  border-width: 8px 0 0 8px;
  left: -7px;
  bottom: 7px;
}

.chat-messages {
  overflow-y: scroll;
  height: 400px;
}

.message.left.loading::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #aaa;
  animation: typing 1s infinite;
}

@keyframes typing {
  0% {
    opacity: 0.5;
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0.5;
  }
}


/* Style the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  right: 0;
}

/* Position the dropdown on the top right */
.dropdown {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Style the profile picture */
.profile-pic {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

/* Style the dropdown content when the profile picture is hovered */
.dropdown-content {
  display: none;
  position: absolute;
  top: 0px;
  right: 0;
}


/* Style the links inside the dropdown */
.dropdown-content a {
  text-decoration: none !important;
  color: black;
  padding: 5px 10px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #333;
}
.dropdown-content hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}
.username {
  color: var(--primary);
}


/* profile page styles */
.profile-container {
  display: flex;
  align-items: center;
  position: relative;
  /* top: -23%; */
}
.profile-section {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  /* top: 5rem;
  left: 10rem; */
}

.profile-picture {
  /* float: left; */
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.profile-details {
  margin-top: 20px;
}

.tabs-container {
  /* position: absolute; */
  /* margin-left: 23rem; */
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.tabs {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  
}

.tab {
  color: var(--greyDark);
  background: var(--greyLight-1);
  padding: 10px 20px;
  margin: 0;
  border: none;
  cursor: pointer;
  font-family: inherit;
  z-index: 1;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}



.tab:hover {
  color: var(--primary);
}

.tab.active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}

.tab-content {
  display: none;
  padding: 20px;
}

/* Additional styles for each tab content */

#personal-info {
  display: block;
}

/* Additional styles for each tab content */
